.enter_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/images/HomeBackground.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh; 
  }
  
  .logo {
    background-image: url('../img/enter/Logo.png');
    background-size: cover;
    position: absolute;
    top: 130px;
    width: 297px;
    height: 70px;
  }
  
  .santa {
    background-image: url('../img/enter/Logo1.png');
    background-size: cover;
    position: absolute;
    top: 230px;
    width: 250px;
    height: 250px;
  }
  
  .start {
    padding: 10px 20px;
    width: 297px;
    height: 53px;
    font-size: 16px;
    background-color: #8F1426;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    position: relative;
    top: 270px;
  }
  
  .start:hover {
    background-color: #AC4655;
  }
  
  .section {
    display: flex;
    position: relative;
    top: 270px;
  }

  .notice {
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-size: 12px;
  }
  
  .login {
    color: #AC4655;
    cursor: pointer;
    font-size: 12px;
  }
  
  .login:hover {
    cursor: pointer;
  }
  