.video-background {
  position: relative;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  transform: translate(-50%, -50%);
  object-fit: cover; /* 화면을 꽉 채우도록 설정 */
}

.backcolor {
  background-color: #151723; /* 배경 색상 */
  width: 100vw;
  min-height: 100vh;
  z-index: -1000;
  position: absolute;
  opacity: 70%;
}

.enter_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh; 
  position: relative;
  z-index: 1;
}

.content {
    position: relative;
    z-index: 1; /* 비디오 위에 컨텐츠를 표시 */
    color: white;
    text-align: center;
    z-index: 1;
}

  
  .logo {
    background-image: url('../img/enter/Logo.png');
    background-size: cover;
    position: absolute;
    top: 130px;
    width: 297px;
    height: 80px;
  }
  
  .santa {
    background-image: url('../img/enter/Logo1.png');
    background-size: cover;
    position: absolute;
    top: 230px;
    width: 250px;
    height: 250px;
  }
  
  .start {
    padding: 10px 20px;
    width: 297px;
    height: 53px;
    font-size: 16px;
    background-color: #8F1426;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    position: relative;
    top: 270px;
    margin-bottom: 27px;
    font-family: SUITE;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  
  .start:hover {
    background-color: #AC4655;
  }
  
  .section {
    display: flex;
    position: relative;
    top: 270px;
  }

  .notice {
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-size: 12px;
  }
  
  .login {
    color: #AC4655;
    cursor: pointer;
    font-size: 12px;
  }
  
  .login:hover {
    cursor: pointer;
  }
  
  input:focus {
    outline: none;
  }
  